*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}
body{
    background-color: antiquewhite;
}
.navbar{
    text-align: center;
    padding: 10px 5px;
    font-size: 25px;
    color: maroon;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;

}
.menu{
    display: inline-block;
    position: relative;
}
.menu > P{
    display: inline-block;
    padding: 10px;
    cursor: pointer;
}
.section{
    display: none;
    position:absolute;
    top:100%;
    left:0;
    text-align: left;
}
.section p{
    display: block;
    font-size: 18px;
    color:maroon;
    padding: 10px 12px;

}
.menu p:hover{
    color:blueviolet
}
.menu:hover .section{
    display: block;
    background-color: wheat;
    padding: 20px;
    font-size: 20px;
    margin-top: 10px;
    border-radius: 5px;
    width: 200px;
    

}