*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.navbar {
    width: 100%;
    padding: 20px;
    background-color: rgba(255,255,255,0.95); /* slight transparency */
    position: fixed;  /* stick to top */
    z-index: 3;      /* stay above other elements */
}

.navbar h2{
    float: left;
    font-weight: normal;
}
.items{
    float: right;
}
.items p{
    display: inline-block;
    margin-left: 20px;
    cursor: pointer;
    font-size: 20px;
}
.main{
    position: relative;
}
.heading {
    position: absolute;       /* floats above the image */
    top: 50%;                 /* start at vertical center */
    left: 50%;                /* start at horizontal center */
    transform: translate(-50%, -50%); /* perfect center */
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 40px;
    font-weight: normal;
    text-align: center;
    z-index: 2;         
}
#projects{
    font-weight: normal;
    padding :40px;
}
.parent{
        text-align: center;

}
.parent img{
    width:340px;
    height: 200px;
}
.child{
    position: relative;
    width:340px;
    height: 200px;
    margin: 10px;
    display: inline-block;

}
.child h4{
    position: absolute;
    padding: 10px;
    background-color: black;
    color: white;

}
#about{
    font-weight: normal;
    font-size: 30px;
    margin: 20px 5px;
}
.about-info{
    font-size: 20px;
    margin:20px 10px ;
}
.child1 h2,h3,p{
    margin: 10px;
}
.child .contact{
    background-color: rgba(120,120,120,0.290);
    padding: 10px;
    text-align: center;
    font-size: 20px;
}
.contact-info{
    margin: 50px 10px;
    background-color: transparent;
}
.contact-info p,h1{
    margin: 10px 5px;
    font-weight: normal;
}
.contact-info input{
    padding: 10px;
    width: 100%;
    margin: 10px 5px;
    border-radius: 5px;
    font-size: 14px;
    background-color: transparent;
    border: 1px gray solid;
}
.contact-info #submit{
    background-color: black;
    width: 100%;
    color: white;
}
.foot{
    text-align: center;
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 30px;
    margin: 0;
}
.foot a{
    color: white;
}