*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.heading{
    color: #000;
    font-size: 30px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 20px;
    padding: 20px;
}
img{
    border-radius: 5px;
}


.main{
    text-align: center;  
}

.parent{
    height: 420px;
    width: 300px;
    background-color: rgba(255, 0, 136, 0.0);
    margin: 10px;
    display: inline-block; 
    vertical-align: top;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 1px 1px 3px black;
}
.parent h2{
 margin: 15px;
}
.parent p{
 margin: 15px; 
}


.pages{
    text-align: center;
    margin: 30px 0;
}
span{
    background-color: black;
    color: white;
    padding: 10px;
}


#para{
    text-align: center;
    width: 1000px;
}
hr{
    margin: 40px;
}
.footer{
    text-align: center;
}
.parent1{
    height: 350px;
    width: 300px;
    padding: 30px;
    display: inline-block;  
}
a{
    color: #000;
}
.child{
    display: flex;
    margin: 30px 5px;
}
.menu p{
  background-color: gray;
  color: white;
  display: inline-block;  
  padding: 5px;
  margin: 8px 5px;
  border-radius: 5px;
}
